#
#    SPDX-License-Identifier: Apache-2.0
#

explorer_1/scripts/bower_components/
explorer_1/webcontent

node_modules
client/node_modules
app/test/node_modules
app/platform/fabric/config.json	

.idea/*
venv
.vscode

test/*
tmp/*

logs
.log
log.log
mount/
fabric-client-kv-org*/
fabric-docker-compose-svt/channel-artifacts
fabric-docker-compose-svt/crypto-config
first-network/channel-artifacts/*
examples/*